<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyitproject.quare">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HealthDataActivity"/>
        <activity android:name=".HeartrateMainActivity"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".GlucoseMainActivity"/>
        <activity android:name=".BloodpressureMainActivity"/>
        <activity android:name=".GlucoseListViewActivity"/>
        <activity android:name=".BmiMainActivity"/>
        <activity android:name=".BloodpressureListviewActivity"/>
        <activity android:name=".HeartrateListviewActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".BmiListviewActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>